﻿<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="@ViewBag.ImageURl" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>@ViewBag.Title</h3>
                <p class="fst-italic">

                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i>Doğal ve Taze Malzemeler: Yemeklerimizde her zaman en kaliteli ve taze ürünleri kullanarak en iyi lezzetleri sunuyoruz.</li>
                    <li><i class="bi bi-check-circle"></i>Özgün ve Yaratıcı Lezzetler: Geleneksel mutfak kültürümüzü modern dokunuşlarla harmanlayarak eşsiz tatlar yaratıyoruz.</li>
                    <li><i class="bi bi-check-circle"></i>Sıcak ve Davetkar Bir Atmosfer: Konuklarımıza rahatlatıcı, huzurlu bir ortamda keyifli anlar yaşatıyoruz.</li>

                </ul>
                <p>
                    @ViewBag.Description
                </p>
            </div>
        </div>

    </div>
</section>