﻿<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/DashBoard/Index" aria-expanded="false">
                    <i class="fa fa-home"></i><span class="nav-text">Anasayfa</span>
                </a>
            </li>
            <li>
                <a href="/Statistic/Index/" aria-expanded="false">
                    <i class="fa fa-bar-chart"></i><span class="nav-text">İstatistikler</span>
                </a>
            </li>
            <li>
                <a href="/Category/CategoryList" aria-expanded="false">
                    <i class="fa fa-th-large"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="/Product/ProductList" aria-expanded="false">
                    <i class="fa fa-cutlery"></i><span class="nav-text">Ürünler</span>
                </a>
            </li>
            <li>
                <a href="/Chef/ChefList" aria-expanded="false">
                    <i class="fa fa-users"></i><span class="nav-text">Şefler</span>
                </a>
            </li>
            <li>
                <a href="/Contact/ContactList" aria-expanded="false">
                    <i class="fa fa-envelope"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/Event/EventList" aria-expanded="false">
                    <i class="fa fa-calendar"></i><span class="nav-text">Etkinlikler</span>
                </a>
            </li>
            <li>
                <a href="/Gallery/GalleryList" aria-expanded="false">
                    <i class="fa fa-camera-retro"></i><span class="nav-text">Galeri</span>
                </a>
            </li>
            <li>
                <a href="/Reservation/ReservationList" aria-expanded="false">
                    <i class="fa fa-commenting-o"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
            <li>
                <a href="/Service/ServiceList" aria-expanded="false">
                    <i class="fa fa-bell"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/Special/SpecialList" aria-expanded="false">
                    <i class="fa fa-heart"></i><span class="nav-text">Spesyaller</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/TestimonialList" aria-expanded="false">
                    <i class="fa fa-file-text"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/Feature/FeatureList" aria-expanded="false">
                    <i class="fa fa-plane"></i><span class="nav-text">Anasayfa İçerikleri</span>
                </a>
            </li>
        </ul>
    </div>
</div>